.link 
{
    margin: 10px;
    padding: 8px 30px;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    font-weight: 600;
}

.link:hover 
{
    background-color: black;
    color: white;
    cursor: pointer;
}